@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
/*font-family: 'Passion One', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/*font-family: 'Sriracha', cursive;*/

header{
    background-color: black;
    color: white;
}
header>h1{
    font-family: 'Passion One', cursive;
    font-size: 10vw;
    font-variant: small-caps;
    text-align: center;
    padding-top: 0.4em;
     
}
header>p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.3em;
    padding-bottom: 3em;
}
header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}

article{
    font-family: 'Sriracha', cursive;
    font-size: 4.5vw;
    line-height: 2em;
    
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.branco{
    margin-left: 1em;
}

.joaninha{
    background-image: url("imagens/background001.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;

}
#joaninha{
    background-color: rgba(0, 0, 0, 0.253);
    display: inline-block;
    padding: 10px;
    color: white;
}
.papel{
    background-image: url("imagens/background002.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}
#papel{
    background-color: rgba(0, 0, 0, 0.253);
    display: inline-block;
    color: white;
    padding: 10px; 
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}